/* TODO Add site wide styles */


body {
    background-color: rgb(6, 6, 6);
    color: white;
    font-family: "Times New Roman", Times, serif;
  }

  .nav-link{
    color: white;
    font-size: 40px;
    margin-left: 120px;
  }

.logged-out-nav-link{
    color: white;
    font-size: 40px;
    margin-left: 170px;
  }
  /* .nav-link:hover{
    color: lightskyblue;
  } */

  /* .nav-link:hover {
    color: #fff;
    background: #f00;
    background: linear-gradient(
      to bottom,
      #f00 0%,
      #ff8f00 50%,
      #f00 100%
    );
    background-size: 100% 200%;
    animation: fire 0.8s linear infinite;
  }

  @keyframes fire {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -100%;
    }
  } */
  .nav-link:hover {
    animation: burn 0.5s ease-in-out forwards;
  }

  @keyframes burn {
    0% {
      text-shadow: none;
    }
    25% {
      text-shadow: 0 0 20px #FFA500, 0 0 30px #FFA500, 0 0 40px #FFA500, 0 0 50px #FFA500, 0 0 75px #FFA500;
    }
    50% {
      text-shadow: 0 0 20px #FFA500, 0 0 30px #FFA500, 0 0 40px #FFA500, 0 0 50px #FFA500, 0 0 100px #FFA500;
    }
    75% {
      text-shadow: 0 0 20px #FFA500, 0 0 30px #FFA500, 0 0 40px #FFA500, 0 0 50px #FFA500, 0 0 150px #FFA500;
    }
    100% {
      text-shadow: 0 0 20px #FFA500, 0 0 30px #FFA500, 0 0 40px #FFA500, 0 0 50px #FFA500, 0 0 200px #FFA500;
    }
  }


  .logged-out-nav-link:hover{
    color: lightskyblue;
  }

.top{
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    right: 1%;
  }

.splash-quote{
margin-top: 120px;
margin-bottom: 100px;
font-size: 30px;
border: 2px solid white;
padding: 10px 20px;
width: fit-content;
box-shadow: 3px 3px 9px white;
display: flex;
flex-direction: column;
align-items: center;
color: white;
background-color: rgba(0, 0, 0, 0.8);
}
.mid-splash-container{
display: flex;
flex-direction: column;
align-items: center;
margin-left: 120px;
margin-right: 120px;
margin-top: 30px;
height: 85vh;
/* border: 2px solid white; */


}

.background-image{
margin-left: 120px;
margin-right: 120px;
margin-top: 30px;
height: 80vh;
border: 2px solid white;
background-image: url('./Images/colored.gif');
  background-size: cover;
  background-size: 100vw;
  background-position: center center;
  background-repeat: no-repeat;


  z-index: -1;

}



.background-image:hover {
  animation: shiftPixels 1s linear infinite;
}


.login{
    /* position: absolute;
    top: 80%;
    transform: translateY(100%);

    margin-left: 32.5%;
    margin-right: 32.5%; */
    width: 855px;

    display: flex;
    justify-content: center;
    margin-bottom: 100px;

  }


.signup{
/* float:right; */
position: absolute;
top: 2.2%;
transform: translateY(-160%);
right: 120px;

/* margin-left: 120px; */

}
.logout{
margin-top: 25px;
 margin-right: 100px;
}

.navigation{
    position: relative;
    margin-top: 10px;

}



.errors{
    color: black;
}

.all-goals-card{
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
  width: 85vw;
}

.all-goals-card:hover{
  box-shadow: 2px 2px 2px white;
  cursor: pointer;
}

.all-goals-card h3{
  text-decoration: underline;
}

.note-body{
  height: "500px";
  background-color: "#f7f7f7";
}

button{
  background-color: rgb(0, 0, 0);
  color: white;
  height: 36px;
  border-radius: 10px;
  border: 2px solid white;
  margin: 2px;
  padding: 6px;


}

button:hover{
  background-color: black;
  box-shadow: 2px 2px 2px white;
  cursor: pointer;
}

.login > *{
  margin-right: 10px;
  margin-left: 10px;
  width: 90px;
}

.note-body{
  max-height:80vh;
  max-width:100vh;
  overflow: auto;
}

.splash-container{
  position: relative;
  height: 100%;
}


.splash-container{
  display:flex;
  justify-content: center;
}

.splash-footer-container {
  display: flex;
  justify-content: start;
  background-color: white;
  padding: 5px;
  /* margin-top: 1045px; */
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #555;
  /* position: absolute; */
  position: fixed;
  /* position: relative; */
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  z-index: -2;
}

.footer-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-name {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.github-img {
  margin-bottom: -3.5px;
  margin-left: 5px;
  max-width: 16px;
}

.footer-img-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.github-text {
  font-size: 14px;

  margin-bottom: 50px;
  margin-left: 5px;
  font-weight: bold;
}

.github-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.github-img:hover {
  cursor: pointer;
  box-shadow: 20px, 20px, 30px, green;
}

.splash-background{

  position: absolute;
  width: 95vw;
}

.goal-card{
  font-size: 40px;
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 100px;
  border: 2px solid white;
  padding: 25px;
}

.goal-page{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.goal-page button{
  font-size: 40px;
  height: 54px;
  padding: 6px;

  margin-bottom: 15px;
}

.goal-page h1 {
  margin-top: 100px;
  font-size: 60px;
  text-decoration: underline;
}

.all-goals-page{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.all-goal-title{
  text-decoration: underline;
  margin-top: 40px;
}

.create-goal-button{
 position: absolute;
 top: 13px;
}

.headers h2{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.headers div{
  margin-bottom: 200px;
}

.greyed-out{
  background-color: gray;
}

.greyed-out:hover{
  background-color: gray;
  box-shadow: 0px 0px 0px gray;
  cursor: default;
}



/* #dailies,
#weeklies,
#monthlies,
#yearly {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-bottom: 50px;
} */

#home-cards{
  margin-bottom: 50px;
}

#daily-goal-container,
#weekly-goal-container,
#monthly-goal-container,
#yearly-goal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#daily-goal-container > button,
#weekly-goal-container > button,
#monthly-goal-container > button,
#yearly-goal-container > button {
  position: absolute;
  top: -30px;
}

#daily-buttons-container,
#weekly-buttons-container,
#monthly-buttons-container,
#yearly-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .home-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
} */

.favicon-icon{
  border-radius: 50%;
}
