#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(6, 6, 6, 0.7);
}

#modal-content {
  position: absolute;
  background-color:rgb(6, 6, 6);
  border: 3px solid rgb(185, 210, 188);
  padding-right: 40px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
}

/* #modal-content input,
#modal-content textarea,
#modal-content select,
#modal-content label{
  padding: 5px;
  width: 300px;
  margin-bottom: 20px;
} */

/* #modal-content div{
  padding: 5px;
  width: 300px;
  margin-bottom: 20px;
} */

.modal-fields div{
  padding: 5px;
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.modal-fields div *{
  width: inherit;
  margin-left: -50px;
}

.modal-fields label{
  margin-left: -60px;
}



#modal-content button{
margin-top: 10px;
}

.modal-fields{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.modal-fields button{
  margin: auto;
}

#login-modal{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#login-modal *{
  margin: 10px;
}

#signup-modal{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#signup-modal *{
  margin: 5px;
}

#signup-modal button{
margin: auto;
}

#signup-modal label,
#signup-modal input {
  display: inline-block;
  vertical-align: middle;
}
